<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree</title>
    <style type="text/css">
   BODY {
    background: white;
   }
   TABLE {
    border-collapse: collapse;
   }
   TD, TH {
    padding: 3px;
    border: 1px solid maroon;
   }

  </style>

</head>
<body>


<table>
    <thead align="center">
    <tr>
        <td>Path</td>
    </tr>
    </thead>
    <tbody align="left">
        <tr th:each="data, iterstat:${objRowList}">
        <td th:text="${data}" th:id="|td${iterstat.index}|"></td>
            </tr>
    </tbody>
</table>

</body>
</html>