<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree</title>

</head>
<body>
<table>
    <thead>

    <tr>
        <td>ID</td>
        <td>UID</td>
        <td>Object type</td>
        <td>Data</td>
        <td>Parent object ID</td>
        <td>Level</td>
        <td>Path</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="objRowList:${objRowList}">
        <td th:text="${objRowList.id}"></td>
        <td th:text="${objRowList.uid}"></td>
        <td th:text="${objRowList.object_type}"></td>
        <td th:text="${objRowList.jsonData}"></td>
        <td th:text="${objRowList.parent_object_id}"></td>
        <td th:text="${objRowList.level}"></td>
        <td th:text="${objRowList.path}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>